<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <!-- <button mat-raised-button (click)="takePicture()">takePicture</button>-->
  <button mat-raised-button class="accent-1">accent1</button>
  <button mat-raised-button class="accent-2">Accent2</button>
  <button mat-raised-button class="accent-3">Accent3</button>
  <button mat-raised-button class="bleunuit">BLEU NUIT</button>
  <button mat-raised-button class="black-85">BLACK 85%</button>
  <button mat-raised-button class="black-55">BLACK 55%</button>
  <button mat-raised-button class="black-40">BLACK 40%</button>
  <button mat-raised-button class="black-25">BLACK 25%</button>
  <button mat-raised-button class="black-15">BLACK 15%</button>
  <button mat-raised-button class="black-5">BLACK 5%</button>
  <button mat-raised-button class="green-1">GREEN 1</button>
  <button mat-raised-button class="green-2">GREEN 2</button>
  <button mat-raised-button class="green-3">VERT PÂLE</button>
  <button mat-raised-button class="red-1">RED 1</button>
  <button mat-raised-button class="red-2">RED 2</button>
  <button mat-raised-button class="orange">ORANGE</button>
  <button mat-raised-button class="orange-1">ORANGE PÂLE</button>
  <button mat-raised-button class="bleu">BLEU</button>
  <button mat-raised-button class="bleu-50">BLEU 50</button>
  <button mat-raised-button class="rose">ROSE</button>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1s</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="home"
  ></mat-icon>

  <button mat-raised-button class="accent-1">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
      class="left"
    ></mat-icon>
    Rechercher
  </button>

  <div class="card-container">card-container</div>

  <footer>footer</footer>
</div>
